body {
	background-color: #212121;
	color: #03dac6;
}

.container {
	display: flex;
	flex-direction: column;
}

.image {
	margin: auto;
	width: 100px;
}

@media only screen and (max-width: 770px) {
	.container {
		margin: 0 10%;
	}

	.image {
		width: 20%;
	}
}
